<% if errors.present? %>
  <p class="notice">
    <strong>
      Please, review <%= errors.size %> <%= 'error'.pluralize(errors.size) %> in this form:
    </strong>

    <br />

    <% errors.each do |field, message| %>
      * <code><%= field.to_s.humanize %>: <%= message %></code><br />
    <% end %>
  </p>
<% end %>
