<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% todos.each do |todo| %>
      <tr>
        <td><%= todo.description %></td>
        <td><%= render(partial: 'todos/list/actions/edit', locals: {todo:, previous: current}) %></td>
        <td><%= render(partial: "todos/list/actions/#{action_to_toggle_state}", locals: {todo:}) %></td>
        <td><%= render(partial: 'todos/list/actions/delete', locals: {todo:, previous: current}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
