<%= render(partial: 'todos/shared/header', locals: {current: 'completed'}) %>

<main>
  <h2>Completed (1)</h2>

  <%= render(partial: 'todos/list/items', locals: {action_to_toggle_state: 'uncomplete'}) %>
</main>
