<%= render(partial: 'todos/shared/header', locals: {current: 'completed'}) %>

<main>
  <h2>Completed (<%= todos.size %>)</h2>

  <% if todos.present? %>
    <%= render(
      partial: 'todos/list/items',
      locals: {todos:, current: 'completed', action_to_toggle_state: 'uncomplete'}
    ) %>
  <% else %>
    <blockquote>Nothing done.</blockquote>
  <% end %>
</main>
