<%= render(partial: 'todos/shared/header', locals: {current: 'uncompleted'}) %>

<main>
  <h2>Uncompleted (1)</h2>

  <%= render(partial: 'todos/list/items', locals: {action_to_toggle_state: 'complete'}) %>
</main>
