<h2>500 - Internal server error</h2>

<p>
  Please try again later or feel free to contact us if the problem persists.
</p>
<p>
  <%= link_to('<button>Go back to home</button>'.html_safe, '/') %>
</p>
