<% if form_errors.present? %>
  <p class="notice">
    <strong>
      Please, review <%= form_errors.size %> <%= 'error'.pluralize(form_errors.size) %> in this form:
    </strong>

    <br />

    <% form_errors.each do |field, message| %>
      * <%= field.to_s.humanize %>: <%= message %><br />
    <% end %>
  </p>
<% end %>
